[Unit]
Description=Aquila Engine
After=network.target

[Service]
WorkingDirectory=/root/aquila-dashboard/engine
ExecStart=/usr/bin/python3 engine.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
