body {
    font-family: Arial;
    background: #0f172a;
    color: #e5e7eb;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #334155;
    padding: 10px;
    text-align: center;
}

th {
    background: #1e293b;
}

tr:nth-child(even) {
    background: #020617;
}
